
.side-text {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 2px solid black;
  width: 25%;
  height: 100vh;
  perspective: 400px;
  text-align: justify;
  line-height: 180%;
}

.film {
  position: relative;
  top: -10px;
  transform-origin: 30% 100%;
  animation: crawl 100s;
  animation-iteration-count: infinite;
}

@keyframes crawl {
  0% {
    top: 250px;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
