.side-text {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  width: 25%;
  height: 100%;
  perspective: 400px;
  text-align: justify;
  line-height: 180%;
}

.film {
  position: relative;
  top: -10px;
  transform-origin: 10% 100%;
  animation: crawl 80s;
  animation-iteration-count: infinite;
}

@keyframes crawl {
  0% {
    top: 250px;
    transform: rotateX(10deg) translateZ(0);
  }
  100% {
    top: -4000px;
    transform: rotateX(25deg) translateZ(-1500px);
  }
}

@media (max-width: 735px) {
  .film {
    display: none;
  }
}
