p {
  margin: 5px;
}

.people-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  float: right;
  margin: 10px;
  padding: 10px 0px 10px;
  width: 200px;
  height: 300px;
  border-top: 2px solid black;
}

.fav-flag {
  background-color: #DECA95;
}

.person-name {
  font-weight: bold;
  text-transform: uppercase;
}

.fav {
  margin: 10px;
  min-width: 36px;
  min-height: 35px;
  border: none;
  background-color: transparent;
  background-image: url('./millennium-falcon.svg');
  background-repeat: no-repeat;
}

.fav:hover {
  cursor: pointer;
  background-image: url('./millennium-falcon0.svg');
}
